.date-input {
  cursor: pointer;
  width: 100px;
}

:host >>> .mat-input-underline {
  background-color: transparent;
}

:host >>> .mat-input-ripple {
  background-color: transparent;
}

@media (min-width: 800px) {
  md-select {
    width: 30%
  }
}

@media (max-width: 800px) {
  md-select {
    width: 100%
  }
}