.date-input {
  cursor: pointer;
  width: 100px;
}

:host >>> .mat-input-underline {
  background-color: transparent;
}

:host >>> .mat-input-ripple {
  background-color: transparent;
}

md-select {
  width: 30%
}