<md-toolbar style="padding-top: 10px">
  <md-select placeholder="Mensa" [formControl]="mensaControl">
    <md-option *ngFor="let mensa of mensas" [value]="mensa.id">{{ getMensaDisplayText(mensa) }}</md-option>
  </md-select>
  <span style="flex: 1 1 auto"></span>
  <md-input-container>
    <input class="date-input" (click)="myDatepicker.open()"
      readonly="readonly" [formControl]="dateControl" mdInput
      [mdDatepicker]="myDatepicker" [disabled]="true">
  </md-input-container>
  <md-datepicker [touchUi]="true" #myDatepicker></md-datepicker>
</md-toolbar>
