<md-toolbar style="padding-top: 10px">
  <md-select style="width: 200px" placeholder="Mensa" [formControl]="mensaControl">
    <md-option *ngFor="let mensa of mensas" [value]="mensa.id">{{ mensa.name }} {{ mensa.sublocation }}</md-option>
  </md-select>
  <span style="flex: 1 1 auto"></span>
  <md-input-container>
    <input style="width: 120px" [formControl]="dateControl" mdInput [mdDatepicker]="myDatepicker">
    <button [mdDatepickerToggle]="myDatepicker"></button>
  </md-input-container>
  <md-datepicker #myDatepicker></md-datepicker>
</md-toolbar>

<div class="container" *ngIf="items && items.length > 0; else noDataMessage">
  <app-meal *ngFor="let item of items" [mealWithLocation]="item">
  </app-meal>
</div>

<ng-template #noDataMessage>
  <div class="nodata">
    Keine Daten vorhanden.
  </div>
</ng-template>
